<div class="account-login section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3 col-md-10 offset-md-1 col-12">
                <form class="card login-form" action="/send-OTP" method="post">
                    <div class="card-body mb-3">
                        <h5 class="text-center">OTP Verification</h5>
                        <p class="form-label mt-3 text-center">OTP will send to this {{mobile}}</p>
                    </div>
                    <div class="btn text-center">
                        <button type="submit" class="btn btn-primary">Get OTP</button>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>