<section class="checkout-wrapper section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <form id="registration_form" action="/adduseraddress" method="post">
                    <div class="checkout-steps-form-style-1">
                        <ul id="accordionExample">
                            <li>
                                <h6 class="text-primary">
                                    Add Your Address
                                </h6>
                                <section class="checkout-steps-form-content collapse show mt-3">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="single-form form-default">
                                                <label>User Name</label>
                                                <div class="row">
                                                    <div class="col-md-6 form-input form">
                                                        <input type="text" name="firstname" placeholder="First Name" required/>
                                                    </div>
                                                    <div class="col-md-6 form-input form">
                                                        <input type="text" name="lastname" placeholder="Last Name" required />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="single-form form-default">
                                                <label>Email Address</label>
                                                <div class="form-input form">
                                                    <input type="text" name="email" placeholder="Email Address" required/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="single-form form-default">
                                                <label>Address</label>
                                                <div class="form-input form">
                                                    <input type="text" name="address" placeholder="Address" required/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            
                                            <div class="single-form form-default">
                                                 
                                                <label>Phone Number</label>
                                                <span style="margin-left: 10px;" class="error_form text-danger" id="mob_error_message"></span>
                                                <div class="form-input form">
                                                   
                                                    <input type="text" id="form_mob" onchange="check_mob()" name="phoneNumber" placeholder="Phone Number" required/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="single-form form-default">
                                                <label>State</label>
                                                <div class="form-input form">
                                                    <input type="text" name="state" placeholder="State" required/>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="single-form form-default">
                                                <label>City</label>
                                                <div class="form-input form">
                                                    <input type="text" name="city" placeholder="City" required/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="single-form form-default">
                                                <label>PIN Code</label>
                                                <div class="form-input form">
                                                    <input type="number" name="pincode" placeholder="Post Code" required/>
                                                </div>
                                            </div>
                                        </div>
                                       
                                        <input type="text" name="userId" value="{{userId}}" hidden />

                                        <div class="col-md-12">
                                            <div class="single-form button">
                                                <button id="addressBtn" class="btn" type="submit">
                                                    Save
                                                </button>
                                                <a href="/userAddress" class="btn btn-danger">Cancel</a>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </li>

                        </ul>
                    </div>
                </form>
            </div>

        </div>
    </div>
</section>

<script>
    $("#mob_error_message").hide()

    var error_mobno = false;

    $("#form_mob").focusout(function () {
     check_mob();
     });

     function check_mob() {
         var pattern = /([0-9]{10})|(\([0-9]{3}\)\s+[0-9]{3}\-[0-9]{4})/;
         var mob = $("#form_mob").val();
         if (pattern.test(mob) && mob !== '' && mob.length == 10) {
           $("#mob_error_message").hide();
           $("#form_mob").css("border-bottom", "2px solid #34F458");
           } else {
            $("#mob_error_message").html("Invalid Mobile NO");
            $("#mob_error_message").show();
            $("#form_mob").css("border-bottom", "2px solid #F90A0A");
            error_mobno = true;
           
          }
        }


$("#registration_form").submit(function (event) {

  error_mobno = false;


 
  check_mob();
 

  if (error_mobno === true) {

    event.preventDefault()
  } 


});
     
         
</script>