<div class="container d-flex justify-content-center">

    <form action="/changePassword" method="post" id="changePass" class="text-center mt-5 mb-5 p-5" style="border: 1px solid grey; max-width: 400px;">
        <p id="passErr"></p>
        <div>
            <label for="currentPassword">Enter Current Password</label>
            <input type="password" name="currentPassword" required="true" autocomplete="off" />
        </div>
        <div class="mt-2">
            <label for="newPassword">Enter New Password</label>
            <input type="password" name="newPassword" required="true" autocomplete="off" />
        </div>
        <div class="text-center mt-3">
            <button type="submit" class="btn btn-success btn-sm">Save</button>
              <a href="#" class="btn btn-danger btn-sm ml-2" onclick="cancelUpdate(event)" > Cancel</a>
        </div>

    </form>
</div>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $("#changePass").submit((e)=>{
        e.preventDefault();
        $.ajax({
            url:"/changePassword",
            method:"post",
            data:$("#changePass").serialize(),
            success:(response)=>{
                if(response.errOccured){
                   let err = document.getElementById('passErr');
                   err.style.color = "red"
                   err.innerHTML = "*Please check your current Password correct"
                }else if(response.status){
                    window.location ='/userProfile'
                }

            }
        })
    })
</script>

<script>
    function cancelUpdate(event){
        event.preventDefault();
         Swal.fire({
        title: 'Confirm YES !',
        text: "To Cancel the Updations",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'YES'
    }).then((result)=>{
        if(result.isConfirmed){
            window.location ='/editUserProfile'
        }
    })
    }
</script>