<div class="container">
    <div class="row">
        <div class="col-lg-12">

            <div class="card   mb-3 mt-4" style="width: 25rem; margin: auto;">
                <img src="/images/user/cartLoginWarning.png" class="card-img-top" alt="..." />
                <div class="card-body text-center">
                    <h5 class="card-title mt-2">Missing Cart items?</h5>
                    <p class="card-text mt-2">Login to see the items you added previously.</p>
                    <a href="/login" class="btn btn-primary  mt-3">Login</a>
                </div>
            </div>

        </div>
    </div>
</div>