{{!-- <script type="text/javascript">
  function preback(){
      console.log("hai")
      window.history.forward();
  }
  setTimeout("preback()",0);
  window.onunload = function(){
      null;
  } --}}

</script>

<div class="container">
    <div class="row">
        <div class="col-lg-12">

            <div class="card   mb-3 mt-4" style="width: 25rem; margin: auto;">
                <img src="/images/user/order-success.png" class="card-img-top" alt="..." />
                <div class="card-body text-center">
                    <h5 class="card-title mt-2 text-success">Order Placed</h5>
                    <p class="card-text mt-2">We received your purchase request <br/> we'll be in touch shortly!</p>
                    <a href="/" class="btn btn-primary  mt-3">Continue Shopping</a>
                    <a href="/userOrder" class="btn btn-success  mt-3">View Orders</a>
                </div>
            </div>

        </div>
    </div>
</div>
